{% extends 'AppBundle::layout.html.twig' %}

{% block body %}
	<div class="container">
		<div class="row">
			<h1 style="padding-top: 1em; padding-bottom: 1em;">Liste des articles :</h1>
				{% if articles is not empty %}
					{% for article in articles %}
						<div class="row">
							<p>Article n°{{ article.id}}</p>
							<p><span>{{ article.title}} [ par {{ article.createdBy}} le {{ article.createdAt | date('d/m/Y')}} ]</span></p>	
							<p>Caption : {{ article.leadingg}}</p>
							<p>Body :{{ article.body}} </p>
							<p><a href="{{path('article_slug', {'slug': article.slug })}}">Lire la Suite ..</a></p>
							<hr>
						</div>
						{% endfor %}
					{% endif %}
		</div>
		<div class="row">
			<a class="btn btn-default btn-primary" id="ajouter-bouton" href="{{ path('create_article') }}">Ajouter un article</a>
		</div>
	</div>	
{% endblock %}
